<section>
  <h2 style="max-width: 125px">Funding & Awards</h2>
  {%- for funding in resume.funding %}
    <section>
      <header>
        <h3>
          {{ funding.fundName }}<i style="font-weight: normal">, {{ funding.institution }}</i>
        </h3>
        <span class="date">
          {{ funding.awardDate }}
        </span>
      </header>
      <span>
        {{ funding.description }}
      </span>
    </section>

  {%- endfor %}
</section>
